.iconsContent {
    width: 100%;
}

.containerIco {
    list-style: none;
    padding: 0;
}

.item {
    padding: 5px;
    width: 90px;
    height: 80px;
    margin: 6px;
    text-align: center;
    justify-content: center;
}

.float {
    max-width: 1200px;
    margin: 0 auto;
}

.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-item {
    float: left;
}


/* .iconList {
    width: 100%;
    padding: 3% 0% 0% 0%;
    color: white;
    list-style: none;
    overflow: hidden;
    text-align: center;
} */

a {
    color: white;
}

a:hover {
    color: inherit;
}


/* .ulIcons {
    display: flex;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
} */


/* 
li {
    padding: 0 14px;
} */

.jsLogo:hover {
    color: yellow;
}

.reactLogo:hover {
    color: #61DBFB;
}

.htmlLogo:hover {
    color: #f06529;
}

.cssLogo:hover {
    color: #379ad6;
}

.javaLogo :hover {
    color: #379ad6;
}

.csharpLogo :hover {
    color: #953dac
}

.androidLogo:hover {
    color: #75bc54
}

.phpLogo:hover {
    color: #7377ad
}

.SqlServerLogo:hover {
    color: #b21a1a
}

.mySqlLogo :hover {
    color: #379ad6;
}

.sqlLiteLogo :hover {
    color: #125680;
}